{% extends "base.html" %}

{% block content %}
<h1 class="title">
  V_NEX
</h1>
<h2 class="subtitle">
  To Share Intelligence
</h2>

{% endblock %}
{% block second_content %}
<section class="hero is-halfheight is-info">
  <div class="hero-body">
    <form action="/look" method="POST" id="jform">
<div class="select is-rounded">
    <select onchange="selection(this.options[this.selectedIndex].value)" id="categoryselector"name="categoryselector">
      <option value="">Select category</option>
        {% for category in post %}
        <option value="{{category}}">{{category}}</option>
  {% endfor %}
    </select>

</div>
</form>
<script>
  function selection(chosen) {
      document.getElementById("jform").submit();
    }      
</script>
{% endblock %}