
{% extends "base.html" %}

{% block content %}
<form href="/look" method="POST" id="jform">
<div class="select is-rounded">
    <select onchange="selection(this.options[this.selectedIndex].value)" id="categoryselector"name="categoryselector">
      <option value="">Select category</option>
        {% for category in post %}
        <option value="{{category}}">{{category}}</option>
  {% endfor %}
    </select>
</div>
</form>

{% for posts in posts_category %}
<div class="box" style="margin-top:40px;">
  <div class="container">
    <h3 class="title is-3" style="color:rgb(37, 37, 37)">By {{posts.username}}</h4>
    <img src="{{posts.github_link}}" width="500" height="500" style=" border-radius:8px;">
  </div>
      <h4 class="title is-4" style="color:rgb(37, 37, 37)">{{posts.name}}</h4>
      <a href="{{posts.github_link}}" class="subtitle is-5" style="color:rgb(54, 54, 54)"><i class="fa-solid fa-download" style="font-size: 1.5em;"></i></a>

      </div>
{% endfor %}
<script>
    function selection(chosen) {
        document.getElementById("jform").submit();
      }      
</script>
{% endblock %}
