
{% extends "base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<article class="message is-primary">
  <div class="message-header">
    <p>Join V_NEX</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Become a member of v_nex by Signing up
    <div class="buttons">
      <a class="button is-primary" href="{{ url_for('authentication.signup') }}">
        <strong>Sign up</strong>
      </a>
      <a class="button is-light" href="{{ url_for('authentication.login') }}">
        Log in
      </a>
    </div> 
  </div>
</article>
<h4 class="title is-4 is-family-monospace">Of the students, By the students, For the students</h3>
  
<form href="/" method="POST" id="jform">
  <nav class="level" style="padding-top: 10px;">
    <div class="level-item has-text-centered">
      <div class="select is-rounded">
        <select onchange="selection(this.options[this.selectedIndex].value)" id="subjectselector"name="subjectselector">
          <option value="">Select Subject</option>
            {% for subject in posts_subject %}
            <option value="{{subject}}">{{subject}}</option>
      {% endfor %}
        </select>
    
    </div>
    
    </div>
    <div class="level-item has-text-centered">
        <div class="select is-rounded">
          <select onchange="selection(this.options[this.selectedIndex].value)" id="standardselector"name="standardselector">
            <option value="">Select Standard</option>
              {% for standard in posts_standard %}
              <option value="{{standard}}">{{standard}}</option>
        {% endfor %}
          </select>
        </div>
    </div>
    <div class="level-item has-text-centered">
      <input type="submit" value="Search" class="button is-white">
    </div>
    
  </nav>
  


</form>
{% for posts in post %}
      <div class="card mb-3" style="margin-top: 100px;">
        
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{posts.images[0].link}}" class="d-block w-100" alt="...">
            </div>
            {% for image in posts.images[1:] %}
            <div class="carousel-item">
              <img src="{{image.link}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{posts.description}}</h5>
          <p class="card-text"><small class="text-muted">Last updated : {{posts.unique_id}}</small></p>
          <p class="card-text"><small class="text-muted">Standard : {{posts.standard}}</small></p>
          <p class="card-text"><small class="text-muted">Subject : {{posts.subject}}</small></p>
          <p class="card-text"><small class="text-muted">Posted by {{posts.username}}</small></p>
          <button class="delete" onClick="deleteNote({{posts.id}})"></button>
          {% for image in posts.images %}
          <a class="button is-link" href="{{image.link}}"><i class="fa-solid fa-download" style="font-size: 1.5em;"></i></a>
          {% endfor %}
        </div>
      </div>
      
{% endfor %}
<script>
    // function selection(chosen) {
    //     document.getElementById("jform").submit();
    //   }      
    function deleteNote(noteId) {
    fetch("/me/delete-post", {
      method: "POST",
      body: JSON.stringify({ noteId: noteId }),
    }).then((_res) => {
      window.location.href = "/me/dashboard";
    });
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

{% endblock %}
